<div id="top" style="display: block;">
    <a class="icon-left image-icon" href="javascript:history.go(-1)" data-url="<%= config.url %>"></a>
    <a class="icon-home image-icon" href="/"></a>
    <h3 class="subtitle"><%- page.title %></h3>
    <div class="social">
        <!--<div class="like-icon">-->
            <!--<a href="javascript:;" class="likeThis active"><span class="icon-like"></span><span class="count">76</span></a>-->
        <!--</div>-->
        <div>
            <div class="share">
                <a title="获取二维码" class="icon-scan" href="javascript:;"></a>
            </div>
            <div id="qr"></div>
        </div>
    </div>
    <div class="scrollbar"></div>

</div>